#formy
  = form_for @product_type, remote: true do |f|
    - if @product_type.errors.any?
      #error_explanation
        = t :error_notice
        %ul
          - @product_type.errors.full_messages.each do |message|
            %li
              = message
    = f.text_field :label, placeholder: t( 'forms.label'), autofocus: true
    = f.text_area :description, placeholder: t( 'forms.description' )
    = f.hidden_field :referer, value: params[:referer] if params[:referer]
    #commands
      = f.submit t( :create )
      = f.submit t( :cancel )
