<% content_for( :title ) do %>
  Product Types
<% end %>


<div id="paper">
  <table>
    <thead>
      <tr>
        <th>Label</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody class="data">
      <% @product_types.each do |product_type| %>
        <tr>
          <td><%= product_type.label %></td>
          <td><%= product_type.description %></td>
          <td>
            <%= link_to "Show", product_type %>
            <%= link_to "Edit", edit_product_type_path(product_type) %>
            <%= link_to "Destroy", product_type, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tbody class="commands">
      <tr>
        <td colspan=3>
          <%= button_get "New", new_product_type_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>