<% content_for( :title ) do %>
Showing <%= @product_type.label %>
<% end %>

<div id="paper" style="width: 500px;">
  <table>
    <div class="spacer"></div>
    <tbody class="tbody">
      <tr>
        <td>
  <strong>Label:</strong>
  <%= @product_type.label %>
        </td>
      </tr>
      <tr>
        <td>
        <strong>Description:</strong>
  <%= @product_type.description %>
      </td>
      </tr>      
    </tbody>
    
     
    <tbody class="commands">
      <tr>
        <td>
<%= button_get 'Edit', edit_product_type_path(@product_type) %>
<%= button_get 'Back', product_types_path %>
       </td>
      </tr>
    </tbody>
  </table>
</div>
