<% content_for( :title ) do %>
  Listing Platforms
<% end %>

<div id="paper">
  <table>
    <% unless @platforms.empty? %>
      <thead>
        <tr>
          <th>Label</th>
          <th>Manufacturer</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody class="data">
        <% @platforms.each do |platform| %>
          <tr>
            <td><%= platform.label %></td>
            <td><%= platform.manufacturer_id %></td>
            <td>
              <%= link_to "Show", platform %>
              <%= link_to "Edit", edit_platform_path(platform) %>
              <%= link_to "Destroy", platform, method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <tr>
        <td>
          <h1>EMPTY</h1>
        </td>
      </tr>
    <% end %>
    <tbody class="commands">
      <tr>
        <td colspan=4>
          <%= button_get "New", new_platform_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
    
  </table>

  <br>

</div>