#paper
  %table
    - unless @commissioning.solutions.empty?
      %thead
        %tr
          %th( colspan = 2 )= t 'shows.last_solutions'
      %tbody.data
        - @commissioning.solutions.order( :updated_at ).reverse[0...5].each do | s |
          %tr
            %td= s.label
            %td
              = image_show s
              = image_edit s
              = image_delete s
    - else
      %tr
        %td
          %h3= t 'shows.no_solutions'
    %tbody.commands
      %tr
        %td( colspan = 2 )
          = button_get t( :create ), new_solution_path
          = button_get t( :view ), solutions_path
