#paper
  %table
    - unless @commissioning.solutions.empty?
      %thead
        %tr
          %th( colspan = 2 )= t 'shows.last_solutions'
      %tbody.data
        - @commissioning.solutions.each do | s |
          %tr
            %td= s.label
            %td
              = image_show s
              = image_edit edit_solution_path( s )
              = image_delete s
    - else
      %tr
        %td
          %h3= t 'shows.no_solutions'
    %tbody.commands
      %tr
        %td( colspan = 2 )
          = button_get t( :create ),
            new_solution_path( commissioning_id: @commissioning.id )
          = button_get t( :view ), solutions_path
