
<div id="formy" style="padding-top: 20px; padding-bottom: 10px;">
  <%= form_for( @commissioning ) do | f | %>
    <% if @commissioning.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@commissioning.errors.count, "error") %> prohibited this commissioning from being saved:</h2>
        <ul>
          <% @commissioning.errors.full_messages.each do | message | %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_field :label, placeholder: "Label", autofocus: true %>
    <%= f.text_area :description, placeholder: "Description" %>
    <br><br>
    <%= f.label :client_id, "Client:" %>
    <%= f.select :client_id, Client::all.collect { |c| [ c.label, c.id ] }, { include_blank: "(select)" } %>
    <br><br>
    <%= f.label :creator_id, "Creator:" %>
    <% if can? :destroy, @commissioning %>
      <%= f.select :creator_id, User::all.collect { |u| [ u.name, u.id ] }, { include_blank: "(select)" } %>
    <% else %>
      <%= f.select :creator_id, { current_user.name => current_user.id } %>
    <% end %>
    <br><br>
    <%= f.label :users, "Commissioners:" %>
    <table>
      <tr>
        <% User::all.each_with_index do | user, i | %>
          <% next if user == current_user and cannot? :destroy, @commissioning %>
          <td>
            <%= f.check_box :users, { multiple: true, checked: @commissioning.user_ids.include?( user.id ) }, user.id, "" %>
            <%= f.label :users, user.name %>
          </td>
          <% if (i + 1) % 2 == 0 %>
            </tr><tr>
          <% end %>
        <% end %>
      </tr>
    </table>
    
    <div id="commands">
      <%= f.submit "Create" %>
      <%= f.submit "Cancel" %>
    </div>
    
  <% end %>
</div>
