#formy
  = form_for @commissioning, remote: true do |f|
    - if @commissioning.errors.any?
      #error_explanation
        = t :error_notice
        %ul
          - @commissioning.errors.full_messages.each do |message|
            %li= message
    = f.text_field :label, placeholder: t( 'forms.label' ), autofocus: true
    = f.text_area :description, placeholder: t( 'forms.description' )
    = f.select :client_id, Client::order( :label ).collect { |c| [ c.label, c.id ] }, { prompt: 'Selecione um cliente' }
    - if @commissioning.authorized
      = f.select :creator_id, User::draftsmen.collect { |u| [ u.name, u.id ] },
        { prompt: 'Selecione um projetista' }
    - else
      = f.hidden_field :creator_id, value: @commissioning.creator_id
    - if @commissioning.authorized
      Comissionadores:
      %table
        - User::commissioners.each_with_index do |u, i|
          %tr
            %td
              = f.check_box :commissioners,
                { multiple: true,
                checked: @commissioning.commissioners.include?( u.id ) },
                u.id, ''
              = f.label :commissioners, u.name
    #commands
      = f.submit t( :save )
      = f.submit t( :cancel ), data: { confirm: t( :cancel_confirmation) }
      - if not @commissioning.solutions.count.zero? and not @commissioning.authorized and not @commissioning.depends
        = f.submit t( :authorize ), data: { confirm: t( :confirm_authorization ) }
