<%= render 'layouts/index', obj: Commissioning, columns: %w( label description ) %>

<!--

<%# content_for( :title ) do %>
  Comissionings
<%# end %>

<div id="paper">
  <table>
    <% unless @commissionings.empty? %>
      <thead>
        <tr>
          <th>Label</th>
          <th>Description</th>
          <th>Client</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody class="data">
        <% @commissionings.each do |commissioning| %>
          <tr>
            <td><%= commissioning.label %></td>
            <td><%= commissioning.description %></td>
            <td><%= link_to Client::find( commissioning.client_id ).label, client_path( commissioning.client_id ) %></td>
            <td><%= link_to "Details", commissioning %></td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <tr>
        <td>
          <h1>EMPTY</h1>
        </td>
      </tr>
    <% end %>

    <tbody class="commands">
      <tr>
        <td colspan=4>
          <%= button_get "New", new_commissioning_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

-->
