<% content_for( :title ) do %>
  Comissionings
<% end %>


<div id="paper-big">
  <table class="comm">
    <thead class="thead">
      <tr>
        <th>Label</th>
        <th>Description</th>
        <th>Client</th>
        <!--<th>Commissioners</th>-->
        <th>Options</th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @commissionings.each do |commissioning| %>
        <tr>
          <td><%= commissioning.label %></td>
          <td><%= commissioning.description %></td>
          <td><%= link_to Client::find( commissioning.client_id ).label, client_path( commissioning.client_id ) %></td>
          <!--<td>
            <% for u in commissioning.users %>
              <%= u.fullname %>
              <%= "(Owner)" if u.id == commissioning.owner_id %>
            <% end %>
          </td>-->
          <td><%= link_to "Details", commissioning %></td>
        </tr>
      <% end %>
    </tbody>

    <tbody class="tbody2">
      <tr>
        <td colspan=4>
          <%= button_to "New", new_commissioning_path, method: :get %>
          <%= button_to "Back", admin_path, method: :get %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


