<% content_for( :title ) do %>
  Details of <%= @commissioning.label %>
<% end %>

<div id="paper" style="width: 1000px;">
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Created by</th>
        <th><%= pluralize( @commissioning.users.size, "Commissioner" ).match( /\d+\s+([\w]+)/ )[1] %></th>
        <th>Client</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
    </thead>

    <tbody class="data">
        <tr>
          <td><%= @commissioning.description %></td>
          <td><%= link_to User::find_by_id( @commissioning.creator_id ).name, user_path( @commissioning.creator_id ) %></td>
          <td>
            <% if @commissioning.users.empty? %>
              None
            <% else %>
              <% @commissioning.users.each_with_index do |u, i| %>
                <%= link_to u.name, u %>
                <% break if i + 1 == @commissioning.users.size %>
                <br/>
             <% end %>
            <% end %>
          </td>
          <td><%= link_to Client::find( @commissioning.client_id ).label, client_path( @commissioning.client_id ) %></td>
          <td><%= @commissioning.created_at.to_s( :db ) %></td>
          <td><%= @commissioning.updated_at.to_s( :db ) %></td>
        </tr>
    </tbody>
    <tbody class="commands">
      <tr>
        <td colspan=6>
          <%= button_get "Edit", edit_commissioning_path(@commissioning) %>
          <% if can? :delete, @commissioning %>
            <%= button_to "Delete", @commissioning, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          <%= button_get "Back", commissionings_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br/>
<%= render "details_solutions" %>
<br/>
<%= render "details_activities" %>
