<% content_for( :title ) do %>
  Users
<% end %>

<div id="paper" style="width: 700px;">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Permission group</th>
        <th>Options</th>
      </tr>
    </thead>
    
    <tbody class="data">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.roles.first.label rescue "none" %></td>
          <td>
            <%= link_to "Show", user %>
            <%= link_to "Edit", edit_user_path(user) %>
            <%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tbody class="commands">
      <tr>
        <td colspan=4>
          <%= button_get "New", new_user_registration_path %>
          <%= button_get "Back", index_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
