<% content_for( :title ) do %>
  Users
<% end %>


<div id="paper-big">
  <table class="comm">
    <thead class="thead">
      <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Permission group</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.username %></td>
          <td><%= Permission::find_by_id( user.permission_id ).label %>
          <td>
            <%= link_to "Show", user %>
            <%= link_to "Edit", edit_user_path(user) %>
            <%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tbody class="tbody2">
      <tr>
        <td colspan=4>
          <%= button_get "New", new_user_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
  </table>

<br>
