<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="menu-wide">
  <table class="comm">
    <thead class="thead3">
      <tr>
        <th colspan="2">Basic Information</th>
      </tr>
    </thead>
  </table>
  
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  
  <div class="action">
    <%= f.submit "Create"%>
    <%= f.submit "Cancel" %>
  </div>
</div>
<% end %>
