<% if notice %>
  <div id="notice">
    <%= notice %>
  </div>
<% end %>

<div id="title">Details for <%= @client.label %></div>

<div id="paper-big" style="width: 500px;">
  <table class="comm">
    <thead class="thead3">
      <tr>
        <th>Basic Information</th>
      </tr>
    </thead>
    
    <tbody class="tbody">
      <tr>
        <td>
          <strong>Label:</strong>
          <%= @client.label %>
        </td>
      </tr>
    </tbody>
    
    <tbody class="tbody2">
      <tr>
        <td>
          <%= button_get "Edit", edit_client_path(@client) %>
          <%= button_get "Back", clients_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


