<div id="title">
  Administração
  <p>Logado como: <%= User::find_by_id( session[:user_id] ).username %></p>
</div>

<div id="menu">
  <div class="input">
    <%= button_get( "Comissionamentos", commissionings_path) %>
    <% if is_admin? %>
      <%= button_get( "Soluções", solutions_path ) %>
      <%= button_get( "Atividades", activities_path ) %>
      <%= button_get( "Produtos", products_path ) %>
      <%= button_get( "Clientes", clients_path ) %>
      <%= button_get( "Tipos de Produtos", product_types_path ) %>
      <%= button_get( "Usuários", users_path ) %>
    <% end %>
  </div>
  <div class="input2"><%= button_delete( "Finalizar Sessão" , logout_path ) %>
  </div>
</div>
