<%= render 'layouts/index', obj: Certification, columns: %w( label username date_start date_end user ) %>

<!--

<%# content_for( :title ) do %>
  Permissions
<%# end %>

<div id="paper-big">
  <table class="comm">
    <thead class="thead">
      <tr>
        <th>Label</th>
        <th>Permission Mode</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @permissions.each do |permission| %>
        <tr>
          <td><%= permission.label %></td>
          <td><%= permission.mode %></td>
          <td>
            <%= link_to "Edit", edit_permission_path(permission) %>
            <%= link_to "Destroy", permission, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tbody class="tbody2">
      <tr>
        <td colspan=3>
          <%= button_get "New", new_permission_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>

-->