<% if notice %>
  <div id="notice">
    <%= notice %>
  </div>
<% end %>

<div id="title">Certifications</div>

<div id="paper-big">
  <table class="comm">
    <thead class="thead">
      <tr>
        <th>Label</th>
        <th>User</th>
        <th>Product</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @certifications.each do |certification| %>
        <tr>
          <td><%= certification.label %></td>
          <td><%= User::find_by_id( certification.user_id ).username %></td>
          <td><%= Product::find_by_id( certification.product_id ).label %></td>
          <td>
            <%= link_to "Show", certification %>
            <%= link_to "Edit", edit_certification_path(certification) %>
            <%= link_to "Destroy", certification, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tbody class="tbody2">
      <tr>
        <td colspan=4>
          <%= button_get "New", new_certification_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>