
<div id="formy">
  <div id="image">
    <%= image_tag( "ib3.png" ) %>
  </div>
  
  <!--<a href="#" class="popper" data-popbox="pop1">Hover here</a>-->
  
  <%= form_for( resource, as: resource_name, url: session_path( resource_name ) ) do | f | %>
    
    <div class="popper" >
      <div id="pop1" class="tooltip">Insert email credentials.</div>
      <%= f.email_field :email, autofocus: true, placeholder: "Email", data: { popbox: "pop1" } %>
    </div>
    
    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>
    
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Remember me".html_safe %>
      <div class="inputcheck"></div>
    <% end -%>
    
    <%= f.submit "Login", { id: "login", data: { disable_with: "Logging..." } }  %>
    <%#= render "devise/shared/links" %>
  <% end %>
</div>
