#formy
  = form_for @role do | f |
    - if @role.errors.any?
      #error_explanation
        = t :error_notice
        %ul
          - @role.errors.full_messages.each do |message|
            %li
              = message
    = f.text_field :label, autofocus: true, placeholder: t( 'forms.label' )
    %table( border )
      %thead
        %tr
          %th
            Model
          %th
            R
          %th
            W
          %th
            D
      %tbody
        - models.each do | m |
          %tr
            %td= f.label  :'rules[:client]', m
            %td= f.check_box :'rules[:client]'
            /%td= f.select :rules, %w( Create Edit Destroy Read )
          - break
    #commands
      = f.submit t( :create )
      = f.submit t( :cancel )
