<% content_for( :title ) do %>
  Activities
<% end %>

<div id="paper-big">
  <table class="comm">
    <thead class="thead">
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>User</th>
      <th>Options</th>
    </tr>
    </thead>

  <tbody class="tbody">
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.label %></td>
        <td><%= activity.description %></td>
        <td><%= activity.date_start %></td>
        <td><%= activity.date_end %></td>
        <td><%= activity.user %></td>
        <td>
          <%= link_to "Show", activity %>
          <%= link_to "Edit", edit_activity_path(activity) %>
          <%= link_to "Destroy", activity, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tbody class="tbody2">
      <tr>
        <td colspan=6>
          <%= button_get "New", new_activity_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
</table>
