<div id="title">Activities</div>

<div id="paper-big">
  <table class="comm">
    <thead class="thead">
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
    </thead>

  <tbody class="tbody">
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.label %></td>
        <td><%= activity.description %></td>
        <td><%= activity.date_start %></td>
        <td><%= activity.date_end %></td>
        <td><%= activity.user %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tbody class="tbody2">
      <tr>
        <td colspan=8>
          <%= button_get "New Activity", new_activity_path %>
        </td>
      </tr>
    </tbody>
</table>
