#formy
  = form_for @product, remote: true do |f|
    - if @product.errors.any?
      #error_explanation
        = t :error_notice
        %ul
          - @product.errors.full_messages.each do |message|
            %li
              = message
    = f.text_field :label, placeholder: t( 'forms.label' )
    = f.text_field :version, placeholder: t( 'forms.version' )
    = f.text_area :description, placeholder: t( 'forms.description' )
    = f.select :manufacturer_id,
      Manufacturer::order( :label ).collect { |m| [ m.label, m.id ] },
      { include_blank: 'Selecione um fabricante' }
    %br/
    Plataformas Compatíveis:
    %br
    - Platform::order( :label ).each do |p|
      = f.check_box :platform_whitelist, { multiple: true }, p.id, 0
      = f.label :platform_whitelist, p.label# + " (#{p.version})"
      %br/
    %br/
    Sistemas Compatíveis:
    %br/
    - Product::order( :label, :version ).each do |p|
      = f.check_box :product_whitelist, { multiple: true }, p.id, 0
      = f.label :product_whitelist, p.full_label
      %br/
    %br/
    Produtos requeridos:
    %br/
    - Product::order( :label, :version ).each do |p|
      = f.check_box :product_dependencies, {multiple: true }, p.id, false
      = f.label :product_dependencies, p.full_label
      %br/
    %br/
    #commands
      = f.submit t( :save )
      = f.submit t( :cancel )
