<% content_for( :title ) do %>
  Products
<% end %>


<div id="paper">
  <table>
    <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody class="data">
    <% @products.each do |product| %>
      <tr>
        <td><%= product.label %></td>
        <td><%= product.description %></td>
        <td>
          <%= link_to "Show", product %>
          <%= link_to "Edit", edit_product_path(product) %>
          <%= link_to "Destroy", product, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
    <tbody class="commands">
      <tr>
        <td colspan=3>
          <%= button_get "New", new_product_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
</table>
</div>


