<% content_for( :title ) do %>
  Manufacturers
<% end %>

<div id="paper">
  <table>
    <% unless @manufacturers.empty? %>
      <thead>
        <tr>
          <th>Label</th>
          <th>Options</th>
        </tr>
      </thead>
      
      <tbody class="data">
          <% @manufacturers.each do |manufacturer| %>
            <tr>
              <td><%= manufacturer.label %></td>
              <td>
                <%= link_to "Show", manufacturer %>
                <%= link_to "Edit", edit_manufacturer_path(manufacturer) %>
                <%= link_to "Destroy", manufacturer, method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
      </tbody>
    <% else %>
      <tr>
        <td>
          <h1>EMPTY</h1>
        </td>
      </tr>
    <% end %>
    
    <tbody class="commands">
        <tr>
          <td colspan=2>
            <%= button_get "New", new_manufacturer_path %>
            <%= button_get "Back", admin_path %>
          </td>
        </tr>
    </tbody>
  </table>
</div>