%div#formy
  = form_for @solution do |f|
    - if @solution.errors.any?
      %div#error_explanation
        = t :error_notice
        %ul
          - @solution.errors.full_messages.each do |message|
            %li
              = message
    = f.text_field :label, placeholder: t( 'forms.label' ), autofocus: true
    = f.text_area :description, placeholder: t( 'forms.description' )
    = f.select :product_id,
      Product::order( :label ).collect { |p| [ p.label, p.id ] },
      { include_blank: t( 'forms.select_product' ) }
    = f.select :platform_id,
      Platform::order( :label ).collect { |p| [ p.label, p.id ] },
      { include_blank: t( 'forms.select_platform' ) }
    %div#commands
      = f.submit t( :create )
      = f.submit t( :cancel )
