#formy
  = form_for @solution, remote: true do |f|
    - if @solution.errors.any?
      #error_explanation
        = t :error_notice
        %ul
          - @solution.errors.full_messages.each do |message|
            %li
              = message
    = f.text_field :label, placeholder: t( 'forms.label' ), autofocus: true
    = f.text_area :description, placeholder: t( 'forms.description' )
    = f.select :product_id,
      Product::order( :label, :version ).collect { |p| [ p.full_label, p.id ] },
      { include_blank: t( 'forms.select_product' ) }
    = f.select :platform_id,
      Platform::order( :label, :version ).collect { |p| [ p.full_label, p.id ] },
      { include_blank: t( 'forms.select_platform' ) }
    = f.hidden_field :commissioning_id,
      value: @solution.commissioning_id if @solution.commissioning_id
    #commands
      = f.submit t( :save )
      = f.submit t( :cancel )
