<% content_for( :title ) do %>
  Solutions
<% end %>


<div id="paper-big">
  <table class="comm">
    <thead class="thead">
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Product</th>
      <th>Platform</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody class="tbody">
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.label %></td>
        <td><%= solution.description %></td>
        <td><%= Product::find_by_id( solution.product_id ).label %></td>
        <td><%= Platform::find_by_id( solution.platform_id ).label %></td>
        <td>
          <%= link_to "Show", solution %>
          <%= link_to "Edit", edit_solution_path(solution) %>
          <%= link_to "Destroy", solution, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tbody class="tbody2">
      <tr>
        <td colspan=5>
          <%= button_get "New", new_solution_path %>
          <%= button_get "Back", admin_path %>
        </td>
      </tr>
    </tbody>
</table>
