<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @solution.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @solution.description %>
</p>

<p>
  <strong>Product:</strong>
  <%= Product::find_by_id( @solution.product_id ).label %>
</p>

<p>
  <strong>Platform:</strong>
  <%= Platform::find_by_id( @solution.platform_id ).label %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
