- content_for( :title ) do
  = t 'indexes.header'
  = t 'indexes.' + name.pluralize

%div#paper
  %table
    %thead
      %tr
        - columns.each do |c|
          %th
            = t c
        %th
          Options
    %tbody.data
      - obj.all.each do |o|
        %tr
          - columns.each do |c|
            %td
              = eval 'o.' + c
          %td
            = image_get 'show.svg', :show, o
            = image_get 'edit.svg', :edit, eval( "edit_#{name}_path( o )" )
            = image_delete 'destroy.svg', :destroy, o
    %tbody.commands
      %tr
        %td{ colspan: columns.size + 1 }
          = button_get :new, eval( "new_#{name}_path" )
          = button_get :back, root_path
