- content_for( :title ) do
  = t 'index_header'
  = t("models.#{name}").pluralize

%div#paper{ style: "width: #{500 + 100 * (columns.size - 1)}px;" }
  %table
    %thead
      %tr
        - columns.each do |c|
          %th
            = t c
        %th
          = t 'indexes.options'
    %tbody.data
      - obj.all.each do |o|
        %tr
          - columns.each do |c|
            %td
              = eval 'o.' + c rescue c
          %td
            = image_get 'show.svg', :show, o
            = image_get 'edit.svg', :edit, eval( "edit_#{name}_path( o )" )
            = link_image 'destroy.svg', :destroy, o,
              method: :delete,
              data: { confirm: t( :destroy_confirmation ) }
    %tbody.commands
      %tr
        %td{ colspan: columns.size + 1 }
          = button_get :new, eval( "new_#{name}_path" )
          = button_get :back, root_path
