%div#dnav
  %nav
    %ul.cf
      %li
        = link_to t( 'models.commissioning', count: 2 ), commissionings_path
        %ul.dropdown
          %li.dropdown-sub-item
            = link_to t( 'models.activity', count: 2 ), activities_path
          %li.dropdown-sub-item
            = link_to t( 'models.solution', count: 2 ), solutions_path
      %li
        = link_to t( 'models.manufacturer', count: 2 ), manufacturers_path
        %ul.dropdown
          %li.dropdown-sub-item
            = link_to t( 'models.product', count: 2 ), products_path
          %li.dropdown-sub-item
            = link_to t( 'models.platform', count: 2 ), platforms_path
          %li.dropdown-sub-item
            = link_to t( 'models.product_type', count: 2 ), product_types_path
      %li
        = link_to t( 'models.client', count: 2 ), clients_path
      %li
        = link_to t( 'models.user', count: 2 ), users_path
        %ul.dropdown
          %li.dropdown-sub-item
            = link_to t( 'models.certification', count: 2 )#, users_certifications_path
          %li.dropdown-sub-item
            = link_to t( 'models.role', count: 2 ), roles_path
      %li.dropdown-item
        = link_to t( 'logout' ), logout_path, method: :delete, 
          data: { confirm: "This will terminate your login session. Continue?" }
