!!!
%html
  %head
    %meta{ name: 'viewport', content: 'user-scalable=no' }
    %title
      Comissionamentos
    - if browser.mobile? or params[:mobile]
      - css = 'mobile'
    - else
      - css = 'desktop'
    = stylesheet_link_tag 'all/application', media: :all, 'data-turbolinks-track' => true
    = stylesheet_link_tag "#{css}/application", media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if user_signed_in?
      #square
        = image_tag 'ibheader.png'
    #title= content_for?( :title ) ? yield( :title ) : 'Potential Ironman'
    - if user_signed_in?
      #hmenu= render 'layouts/menu'
    #spinner( hidden )
      %p
        = image_tag( 'spinner.gif' )
        %br/
        = t( :loading )
    #contents= yield
    #footer
      #image2
        = image_tag 'qpc.png'
      %a{ href: 'http://www.ibtecnologia.com.br/' }
        2014-2015 © IB Tecnologia & Sistemas LTDA
